.navbar {
  background: #653bb5;
  height: 60px;
}
  
  .ClickyGame, .Message {
    color: white;
    font-size: 1 rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }

  .Score {
    color: white;
    font-size: 1 rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }

  .TopScore {
    color: white;
    font-size: 1 rem;
    text-decoration: none;
    margin: 5px;
    line-height: 3;
  }


  
  
  
  
  